<div *ngIf="user">
  <h2>{{ user.id }}</h2>
  
  <div>
    User ID:
    <input [(ngModel)]="user.id" placeholder="" />
  </div>
  <div>
    First Name:
    <input [(ngModel)]="user.firstName" placeholder="First Name" />
  </div>
  <div>
    Last Name:
    <input [(ngModel)]="user.lastName" placeholder="Last Name" />
  </div>
  <div>
    email Address:
    <input [(ngModel)]="user.userEmail" placeholder="email" />

   </div>
   <div>
    phone number : 
    <input [(ngModel)]="user.userPhone" placeholder="phone" />
   </div>
    <div>
      role ID :
      <input [(ngModel)]="user.roleId" placeholder="1 for admin , 2 for user" />
    </div>
    
       
        <button (click)="updateUser(user)" *ngIf="user.id" class="btn btn-primary">Save</button>
        <button (click)="deleteUser(user)" *ngIf="user.id"class="btn btn-primary">Delete</button>
        <button (click)="createUser(user)" *ngIf="user.id" class="btn btn-primary">Create</button>
          
       
        </div>
        
     
    
  
  

